
      
    <!-- Students Basic Information -->
     <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
         <div class="tab_header">
           <h5>Students Basic Information</h5>
         </div>
         <div class="tab_body pt-4">
           <div class="form_container">
             <form>
               <div class="mb-2 row">
                 <label class="col-md-2 col-form-label">Student's Name </label>
                 <div class="col-md-3">
                   <input type="text" class="form-control" placeholder="First Name'">
                 </div>
                 <div class="col-md-4">
                   <input type="text" class="form-control" placeholder="Middle Name'">
                 </div>
                 <div class="col-md-3">
                   <input type="text" class="form-control" placeholder="Last Name'">
                 </div>
               </div>
 
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Date of Birth</label>
                     <div class="col-md-9">
                       <input type="date" class="form-control">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4 col-form-label">Birth Certificate Number</label>
                     <div class="col-md-8">
                       <input type="date" class="form-control">
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Gender</label>
                     <div class="col-md-9">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>--Select--</option>
                         <option value="Male">Male</option>
                         <option value="Female">Female</option>
                         <option value="Others">Others</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4 col-form-label">Religion</label>
                     <div class="col-md-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>--Select--</option>
                         <option value="Islam">Islam</option>
                         <option value="Hindu">Hindu</option>
                         <option value="Buddhist">Buddhist</option>
                         <option value="Khristian">Khristian</option>
                       </select>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Nationality</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4 col-form-label">Passport No</label>
                     <div class="col-md-8">
                       <input type="date" class="form-control">
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4">
                       International Student
                     </label>
                     <div class="col-md-8">
                       <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                     </div>
                   </div>
                   <!-- <div class="form-check">
                           <label class="form-check-label" for="flexCheckIndeterminate">
                             Indeterminate checkbox
                           </label>
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                         </div> -->
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4 col-form-label">Country</label>
                     <div class="col-md-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>--Select Country--</option>
                         <option value="Bangladesh">Bangladesh</option>
                         <option value="Nepal">Nepal</option>
                       </select>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <label class="col-md-2 col-form-label">Present Address</label>
                 <div class="col-md-5">
                   <select class="form-select" aria-label="Default select example">
                     <option selected>--Select Division--</option>
                     <option value="Dhaka">Dhaka</option>
                     <option value="Khulna">Khulna</option>
                   </select>
                 </div>
                 <div class="col-md-5">
                   <select class="form-select" aria-label="Default select example">
                     <option selected>--Select District--</option>
                     <option value="Dhaka">Dhaka</option>
                     <option value="Khulna">Khulna</option>
                   </select>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Police Station (P.S)</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-4 col-form-label">Postal Code</label>
                     <div class="col-md-8">
                       <input type="date" class="form-control">
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <label class="col-md-2 col-form-label">Permanent Address</label>
                 <div class="col-md-5">
                   <select class="form-select" aria-label="Default select example">
                     <option selected>--Select Division--</option>
                     <option value="Dhaka">Dhaka</option>
                     <option value="Khulna">Khulna</option>
                   </select>
                 </div>
                 <div class="col-md-5">
                   <select class="form-select" aria-label="Default select example">
                     <option selected>--Select District--</option>
                     <option value="Dhaka">Dhaka</option>
                     <option value="Khulna">Khulna</option>
                   </select>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Police Station (P.S)</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Postal Code</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control">
                     </div>
                   </div>
                 </div>
               </div>
               <div class="mb-2 row">
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Grade Applying For</label>
                     <div class="col-md-9">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>--Select--</option>
                         <option value="A">A</option>
                         <option value="B">B</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="row">
                     <label class="col-md-3 col-form-label">Shift</label>
                     <div class="col-md-9">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>--Select--</option>
                         <option value="Day">Day</option>
                         <option value="Evening">Evening</option>
                       </select>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="row mb-2">
                 <label class="col-md-2 col-form-label">SMS Notification Number*</label>
                 <div class="col-md-10">
                   <select class="form-select" aria-label="Default select example">
                     <option selected>--Select--</option>
                     <option value="Day">Day</option>
                     <option value="Evening">Evening</option>
                   </select>
                 </div>
                 <p> <small class="text-muted">(*The school will use this number to communicate with the
                     parents/guardians)</small> </p>
               </div>
 
               <div class="row mb-2">
                 <label class=" col-form-label">Students Proficiency in English(Tick one below)</label>
                 <div class="col d-flex gap-3">
                   <label class="form-check-label" for="flexCheckIndeterminate">
                     Excellent
                   </label>
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                   <span class="checkmark"></span>
                 </div>
                 <div class="col d-flex gap-3">
                   <label class="form-check-label" for="flexCheckIndeterminate">
                     Good
                   </label>
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                 </div>
                 <div class="col d-flex gap-3">
                   <label class="form-check-label" for="flexCheckIndeterminate">
                     Average
                   </label>
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                 </div>
                 <div class="col d-flex gap-3">
                   <label class="form-check-label" for="flexCheckIndeterminate">
                     Fair
                   </label>
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                 </div>
                 <div class="col d-flex gap-3">
                   <label class="form-check-label" for="flexCheckIndeterminate">
                     Begginer
                   </label>
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                 </div>
               </div>
 
               <div class="mb-3">
                 <label for="formFile" class="form-label"><b>Attachments:</b></label>
                 <div class="row">
                   <div class="col-md-4">
                     <div class="row">
                       <div class="col-md-4">
                         <label for="formFile" class="form-label">File Type:</label>
                       </div>
                       <div class="col-md-8">
                         <select class="form-select" aria-label="Default select example">
                           <option selected>--Select--</option>
                           <option value="Photo">Photo</option>
                           <option value="Signature">Signature</option>
                           <option value="Bc">Birth Certificate</option>
                           <option value="Passport">Passport</option>
                           <option value="NID">NID</option>
                           <option value="ETIN">ETIN</option>
                           <option value="TC">TC</option>
                         </select>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-4">
                     <input class="form-control" type="file" id="formFile">
                   </div>
                 </div>
 
               </div>
 
               <div class="btn-container justify-content-center pt-3 d-flex gap-3">
                 <button type="button" class="btn btn-success">Save</button>
                 <button type="button" class="btn btn-info">Save & Next</button>
                 <button type="button" class="btn btn-warning">Refresh</button>
                 <button type="button" class="btn btn-danger">Close</button>
               </div>
 
             </form>
           </div>
         </div>
 
       </div>

