
      <!-- For School Admin Use Only -->
      <div class="tab-pane fade" id="school_admin" role="tabpanel" aria-labelledby="school_admin-tab">
        <div class="tab_header">
          <h5>For School Admin Use Only</h5>
        </div>
        <div class="tab_body">
          <div class="form_container">
            <form>

              <div class="mb-2 row  align-items-center">
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-2 col-form-label">Studen ID</label>
                    <div class="col-md-10">

                      <input type="text" class="col-md-9 form-control" placeholder="Masco Group Id Number">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-3 col-form-label">Date of Enrollment</label>
                    <div class="col-md-9">
                      <input type="date" class="form-control" placeholder="Masco Group Id Number">
                    </div>
                  </div>
                </div>

              </div>
              <div class="mb-2 row">
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-3 col-form-label">Academic Year </label>
                    <div class="col-md-9">
                      <select class="form-select" aria-label="">
                        <option selected>--Select--</option>
                        <option value="">2010</option>
                        <option value="">2012</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-6 col-form-label">Transfer Certificate Received</label> 
                    <div class="col-md-6 d-flex align-items-center gap-5">
                      <div class="form-check">
                        <span>Yes</span>
                        <input class="form-check-input" type="checkbox" value="">
                      </div>
                      <div class="form-check">
                        <span>No</span>
                        <input class="form-check-input" type="checkbox" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-2 row  align-items-center">
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-3 col-form-label">If received, TC No.</label>
                    <div class="col-md-9">
                      <input type="text" class="col-md-9 form-control" placeholder="TC No.">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-3 col-form-label">Date</label>
                    <div class="col-md-9">
                      <input type="date" class="form-control" placeholder="">
                    </div>
                  </div>
                </div>

              </div>
              <div class="mb-2 row">
                <label class="col-md-1 col-form-label">School</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                </div>
              </div>
              <div class="mb-2 row">
                <div class="col-md-4">
                  <div class="row">
                    <label class="col-md-2 col-form-label">Grade</label>
                    <div class="col-md-10">
                      <select class="form-select" aria-label="">
                        <option selected>--Select--</option>
                        <option value="">A</option>
                        <option value="">B</option>
                      </select>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <label class="col-md-2 col-form-label">Section</label>
                    <div class="col-md-10">
                      <select class="form-select" aria-label="">
                        <option selected>--Select--</option>
                        <option value="">A</option>
                        <option value="">B</option>
                      </select>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <label class="col-md-2 col-form-label">Roll</label>
                    <div class="col-md-10">
                      <select class="form-select" aria-label="">
                        <option selected>--Select--</option>
                        <option value="">12121</option>
                        <option value="">11111</option>
                      </select>
                    </div>

                  </div>
                </div>
     

              </div>
              <div class="mb-2 row">
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-3 col-form-label">House</label>
                    <div class="col-md-9">
                      <input type="text" class="col-md-9 form-control" placeholder="House">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-md-6 col-form-label">Transport Facility</label> 
                    <div class="col-md-6 d-flex align-items-center gap-5">
                      <div class="form-check">
                        <span>Yes</span>
                        <input class="form-check-input" type="checkbox" value="">
                      </div>
                      <div class="form-check">
                        <span>No</span>
                        <input class="form-check-input" type="checkbox" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label"><b>Attachments:</b></label>
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="formFile" class="form-label">File Type:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>--Select--</option>
                          <option value="Photo">Photo</option>
                          <option value="Signature">Signature</option>
                          <option value="Bc">Birth Certificate</option>
                          <option value="Passport">Passport</option>
                          <option value="NID">NID</option>
                          <option value="ETIN">ETIN</option>
                          <option value="TC">TC</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control" type="file" id="formFile">
                  </div>
                </div>

              </div>
            </form>
 
            <div class="btn-container justify-content-center pt-3 d-flex gap-3">
              <button type="button" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-info">Save & Next</button>
              <button type="button" class="btn btn-warning">Refresh</button>
              <button type="button" class="btn btn-danger">Close</button>
            </div>
          </div>
        </div>
      </div>