      <!-- Gurdians Information -->
      <div class="tab-pane fade" id="gurdians" role="tabpanel" aria-labelledby="gurdians-tab">
        <div class="tab_header">
          <h5>Gurdians Information</h5>
        </div>
        <div class="tab_body pt-4">
          <div class="form_container">
            <form>
              <div class="info_holder">
                <h5 class="sub_title">Guardian:1</h5>
                </div>
                <div class="mb-2 row">
                  <label class="col-md-1 col-form-label">Full Name </label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" placeholder="First Name'">
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">Nationality</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="First Name'">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-4 col-form-label">Relationship With Student</label>
                      <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>--Select--</option>
                          <option value="">Father</option>
                          <option value="">Mother</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">Mobile</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Phone Number'">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">National ID</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="National ID'">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <label class="col-md-1 col-form-label">Email</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-3 col-form-label">Present Address</label>
                      <div class="col-md-9">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>--Select Division--</option>
                          <option value="Dhaka">Dhaka</option>
                          <option value="Khulna">Khulna</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>--Select District--</option>
                      <option value="Dhaka">Dhaka</option>
                      <option value="Khulna">Khulna</option>
                    </select>

                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-3 col-form-label">Police Station (P.S)</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-4 col-form-label">Postal Code</label>
                      <div class="col-md-8">
                        <input type="date" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>

              <!-- </div> -->
              <div class="info_holder">
                <h5 class="sub_title">Guardian:2</h5>


                <div class="mb-2 row">
                  <label class="col-md-1 col-form-label">Full Name </label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" placeholder="First Name'">
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">Nationality</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="First Name'">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-4 col-form-label">Relationship With Student</label>
                      <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>--Select--</option>
                          <option value="">Father</option>
                          <option value="">Mother</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">Mobile</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Phone Number'">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-2 col-form-label">National ID</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="National ID'">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <label class="col-md-1 col-form-label">Email</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-3 col-form-label">Present Address</label>
                      <div class="col-md-9">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>--Select Division--</option>
                          <option value="Dhaka">Dhaka</option>
                          <option value="Khulna">Khulna</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>--Select District--</option>
                      <option value="Dhaka">Dhaka</option>
                      <option value="Khulna">Khulna</option>
                    </select>

                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-3 col-form-label">Police Station (P.S)</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-4 col-form-label">Postal Code</label>
                      <div class="col-md-8">
                        <input type="date" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label"><b>Attachments:</b></label>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="formFile" class="form-label">File Type:</label>
                        </div>
                        <div class="col-md-8">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>--Select--</option>
                            <option value="Photo">Photo</option>
                            <option value="Signature">Signature</option>
                            <option value="Bc">Birth Certificate</option>
                            <option value="Passport">Passport</option>
                            <option value="NID">NID</option>
                            <option value="ETIN">ETIN</option>
                            <option value="TC">TC</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input class="form-control" type="file" id="formFile">
                    </div>
                  </div>

                </div>

              </div>
          </form>
        </div>
    </div>

        <div class="tab_header py-3">
          <h5>Emergenc Contact Details</h5>
        </div>
      <div class="tab_body">
        <form>
          <div class="mb-2 row">
            <label class="col-md-1 col-form-label">Full Name </label>
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="First Name'">
            </div>
          </div>
          <div class="mb-2 row">

                <label class="col-md-3 col-form-label">Relationship With Student</label>
                <div class="col-md-9">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>--Select--</option>
                    <option value="">Father</option>
                    <option value="">Mother</option>
                  </select>
                </div>
          </div>

          <div class="mb-2 row">
                <label class="col-md-3 col-form-label">Emergency Contact Number</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="Phone Number'">
                </div>
          </div>
          <div class="mb-2 row">
            <label class="col-md-1 col-form-label">Email</label>
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="mb-2 row">
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-3 col-form-label">Present Address</label>
                <div class="col-md-9">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>--Select Division--</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Khulna">Khulna</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <select class="form-select" aria-label="Default select example">
                <option selected>--Select District--</option>
                <option value="Dhaka">Dhaka</option>
                <option value="Khulna">Khulna</option>
              </select>

            </div>
          </div>
        </form>
      </div>
        <div class="btn-container justify-content-center pt-3 d-flex gap-3">
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-info">Save & Next</button>
          <button type="button" class="btn btn-warning">Refresh</button>
          <button type="button" class="btn btn-danger">Close</button>
        </div>

      <!-- </div> -->
    </div>