   <!-- Sibling Information -->
   <div class="tab-pane fade" id="sibling" role="tabpanel" aria-labelledby="sibling-tab">
    <div class="tab_header">
      <h5>Sibling Information</h5>
    </div>
    <div class="tab_body">
      <div class="form_container">
        <form>
          <div class="info_holder">
            <span class="num">1</span>
          </div>
          <div class="mb-2 row mt-3">
            <label class="col-md-1 col-form-label">Full Name </label>
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="First Name'">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-md-2 col-form-label">Name Of School </label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Name Of School">
            </div>
          </div>
          <div class="mb-2 row">
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-2 col-form-label">Grade</label>
                <div class="col-md-10">
                  <select class="form-select" aria-label="">
                    <option selected>--Select--</option>
                    <option value="">A</option>
                    <option value="">B</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Existing Student</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>Graduate</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <label class="col-md-3 col-form-label">ID Number</label>
                 <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                 </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mb-2 row  align-items-center">
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-6 col-form-label">Student of MSK?
                  <p><small class="text-muted">(If Yes, please provide Student ID No)</small></p>
                </label>

                <div class="col-md-6 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Yes</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>No</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-2 col-form-label">ID Number</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                </div>
              </div>
            </div>

          </div>
        </form>
        <form>
          <div class="info_holder">
            <span class="num">2</span>
          </div>
          <div class="mb-2 row mt-3">
            <label class="col-md-1 col-form-label">Full Name </label>
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="First Name'">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-md-2 col-form-label">Name Of School </label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Name Of School">
            </div>
          </div>
          <div class="mb-2 row">
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-2 col-form-label">Grade</label>
                <div class="col-md-10">
                  <select class="form-select" aria-label="">
                    <option selected>--Select--</option>
                    <option value="">A</option>
                    <option value="">B</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Existing Student</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>Graduate</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <label class="col-md-3 col-form-label">ID Number</label>
                 <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                 </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mb-2 row  align-items-center">
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-6 col-form-label">Student of MSK?
                  <p><small class="text-muted">(If Yes, please provide Student ID No)</small></p>
                </label>

                <div class="col-md-6 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Yes</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>No</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-2 col-form-label">ID Number</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                </div>
              </div>
            </div>

          </div>
        </form>
        <form>
          <div class="info_holder">
            <span class="num">3</span>
          </div>
          <div class="mb-2 row mt-3">
            <label class="col-md-1 col-form-label">Full Name </label>
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="First Name'">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-md-2 col-form-label">Name Of School </label>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Name Of School">
            </div>
          </div>
          <div class="mb-2 row">
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-2 col-form-label">Grade</label>
                <div class="col-md-10">
                  <select class="form-select" aria-label="">
                    <option selected>--Select--</option>
                    <option value="">A</option>
                    <option value="">B</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Existing Student</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>Graduate</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <label class="col-md-3 col-form-label">ID Number</label>
                 <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                 </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mb-2 row  align-items-center">
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-6 col-form-label">Student of MSK?
                  <p><small class="text-muted">(If Yes, please provide Student ID No)</small></p>
                </label>

                <div class="col-md-6 d-flex align-items-center gap-5">
                  <div class="form-check">
                    <span>Yes</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                  <div class="form-check">
                    <span>No</span>
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label class="col-md-2 col-form-label">ID Number</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Masco Group Id Number">
                </div>
              </div>
            </div>

          </div>
        </form>
        <div class="btn-container justify-content-center pt-3 d-flex gap-3">
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-info">Save & Next</button>
          <button type="button" class="btn btn-warning">Refresh</button>
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </div>
    </div>
  </div>